==
<!-- Vendor -->
	    <script src="{{ 'assets/vendor/jquery/jquery.min.js'|theme }}"></script>
		<script src="{{ 'assets/vendor/jquery.appear/jquery.appear.min.js'|theme }}"></script>
		<script src="{{ 'assets/vendor/jquery.easing/jquery.easing.min.js'|theme }}"></script>
		<script src="{{ 'assets/vendor/jquery.cookie/jquery.cookie.min.js'|theme }}"></script>
		<script src="{{ 'assets/vendor/popper/umd/popper.min.js'|theme }}"></script>
		<script src="{{ 'assets/vendor/bootstrap/js/bootstrap.min.js'|theme }}"></script>
		<script src="{{ 'assets/vendor/common/common.min.js'|theme }}"></script>
		<script src="{{ 'assets/vendor/jquery.validation/jquery.validate.min.js'|theme }}"></script>
		<script src="{{ 'assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js'|theme }}"></script>
		<script src="{{ 'assets/vendor/jquery.gmap/jquery.gmap.min.js'|theme }}"></script>
		<script src="{{ 'assets/vendor/jquery.lazyload/jquery.lazyload.min.js'|theme }}"></script>
		<script src="{{ 'assets/vendor/isotope/jquery.isotope.min.js'|theme }}"></script>
		<script src="{{ 'assets/vendor/owl.carousel/owl.carousel.min.js'|theme }}"></script>
		<script src="{{ 'assets/vendor/magnific-popup/jquery.magnific-popup.min.js'|theme }}"></script>
		<script src="{{ 'assets/vendor/vide/jquery.vide.min.js'|theme }}"></script>
		<script src="{{ 'assets/vendor/vivus/vivus.min.js'|theme }}"></script>
		<!--(remove-empty-lines-end)-->