==
<!-- default CSS -->
        <!-- <link href="{{ 'assets/css/deftheme.css'|theme }}" rel="stylesheet"> -->
        <link href="{{ 'assets/css/vendor.css'|theme }}" rel="stylesheet">
        
        <!-- Vendor of Classic Light CSS -->
        <link href="{{ 'assets/vendor/fontawesome-free/css/all.min.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/vendor/animate/animate.compat.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/vendor/simple-line-icons/css/simple-line-icons.min.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/vendor/owl.carousel/assets/owl.carousel.min.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/vendor/owl.carousel/assets/owl.theme.default.min.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/vendor/magnific-popup/magnific-popup.min.css'|theme }}" rel="stylesheet">
        
        <!-- Theme of Classic Light CSS -->
        <link href="{{ 'assets/css/theme.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/theme-elements.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/theme-blog.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/theme-shop.css'|theme }}" rel="stylesheet">

        <!-- Current Page CSS -->
		<link href="{{ 'assets/vendor/rs-plugin/css/settings.css'|theme }}" rel="stylesheet" >
		<link href="{{ 'assets/vendor/rs-plugin/css/layers.css'|theme }}" rel="stylesheet" >
		<link href="{{ 'assets/vendor/rs-plugin/css/navigation.css'|theme }}" rel="stylesheet" >

	    <!-- Skin CSS -->
	    <link href="{{ 'assets/css/skins/default.css'|theme }}" rel="stylesheet"> 

	    <!-- Theme Custom CSS -->
	    <link href="{{ 'assets/css/custom.css'|theme }}" rel="stylesheet">
	    
	   <!-- script of Light Classic -->
    	<script src="{{ 'assets/vendor/modernizr/modernizr.min.js'|theme }}"></script>