==
<!-- Vendor CSS -->
		<link rel="stylesheet" href="{{ 'assets/vendor/bootstrap/css/bootstrap.min.css'|theme }}">
		<link rel="stylesheet" href="{{ 'assets/vendor/fontawesome-free/css/all.min.css'|theme }}">
		<link rel="stylesheet" href="{{ 'assets/vendor/animate/animate.compat.css'|theme }}">
		<link rel="stylesheet" href="{{ 'assets/vendor/simple-line-icons/css/simple-line-icons.min.css'|theme }}">
		<link rel="stylesheet" href="{{ 'assets/vendor/owl.carousel/assets/owl.carousel.min.css'|theme }}">
		<link rel="stylesheet" href="{{ 'assets/vendor/owl.carousel/assets/owl.theme.default.min.css'|theme }}">
		<link rel="stylesheet" href="{{ 'assets/vendor/magnific-popup/magnific-popup.min.css'|theme }}">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{{ 'assets/css/theme.css'|theme }}">
		<link rel="stylesheet" href="{{ 'assets/css/theme-elements.css'|theme }}">
		<link rel="stylesheet" href="{{ 'assets/css/theme-blog.css'|theme }}">
		<link rel="stylesheet" href="{{ 'assets/css/theme-shop.css'|theme }}">
		
		<!-- Demo CSS -->


		<!-- Skin CSS -->
		<link rel="stylesheet" href="{{ 'assets/css/skins/default.css'|theme }}"> 

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{{ 'assets/css/custom.css'|theme }}">

		<!-- Head Libs -->
		<script src="{{ 'assets/vendor/modernizr/modernizr.min.js'|theme }}"></script>