==
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md" style="opacity:0.7";>
	<div class="container">
		<div class="row">
			<div class="col-md-12 align-self-center p-static order-2 text-center">
                <h1 class="text-dark font-weight-bold text-8">Large Image Left Sidebar</h1>
                    <span class="sub-title text-dark">Check out our Latest News!</span>
			</div>
			<div class="col-md-12 align-self-center order-1">
                <ul class="breadcrumb d-block text-center">
				    <li><a href="#">Home</a></li>
					<li class="active">Blog</li>
				</ul>
			</div>
		</div>
	</div>
</section>