==
<header id="header" class="header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}">
				<div class="header-body border-top-0" style="background-color:#fff;">
					<div class="header-container container-fluid px-lg-4">
						<div class="header-row">
							<div class="header-column flex-grow-0">
								<div class="header-row pr-4">
									<div class="header-logo">
										<a href="index.html">
											<img alt="Porto" width="170px" height="auto" data-sticky-width="150px" data-sticky-height="auto" src="{{ 'assets/images/logo.png'|theme }}">
										</a>
									</div>
								</div>
							</div>
							<div class="header-column">
								<div class="header-row">
									<div class="header-nav header-nav-links justify-content-center">
										<div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">
											<nav class="collapse header-mobile-border-top">
												{% partial 'site/header_links' %}
											</nav>
										</div>
									</div>
								</div>
							</div>
							<div class="header-column flex-grow-0 justify-content-center">
								<div class="header-row pl-4 justify-content-end">
									    {% partial 'site/header_social' %}
									<button class="btn header-btn-collapse-nav ml-0 ml-sm-3" data-toggle="collapse" data-target=".header-nav-main nav">
										<i class="fas fa-bars"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>