==
<!-- default scripts 
            <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
            <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
            -->
        
        <script src="{{ 'assets/javascript/app.js'|theme }}"></script>
        
		<!-- Theme Base, Components and Settings -->
		<script src="{{ 'assets/javascript/theme.js'|theme }}"></script>

		<!-- Theme Custom -->
		<script src="{{ 'assets/javascript/custom.js'|theme }}"></script>

		<!-- Theme Initialization Files -->
		<script src="{{ 'assets/javascript/theme.init.js'|theme }}"></script>