==
<!-- favicon -->
	    <link rel="apple-touch-icon" sizes="57x57" href="{{ 'assets/images/favicon/apple-icon-57x57.png'|theme }}">
	    <link rel="apple-touch-icon" sizes="60x60" href="{{ 'assets/images/favicon/apple-icon-60x60.png'|theme }}">
	    <link rel="apple-touch-icon" sizes="72x72" href="{{ 'assets/images/favicon/apple-icon-72x72.png'|theme }}">
	    <link rel="apple-touch-icon" sizes="76x76" href="{{ 'assets/images/favicon/apple-icon-76x76.png'|theme }}">
	    <link rel="apple-touch-icon" sizes="114x114" href="{{ 'assets/images/favicon/apple-icon-114x114.png'|theme }}">
    	<link rel="apple-touch-icon" sizes="120x120" href="{{ 'assets/images/favicon/apple-icon-120x120.png'|theme }}">
	    <link rel="apple-touch-icon" sizes="144x144" href="{{ 'assets/images/favicon/apple-icon-144x144.png'|theme }}">
    	<link rel="apple-touch-icon" sizes="152x152" href="{{ 'assets/images/favicon/apple-icon-152x152.png'|theme }}">
    	<link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/images/favicon/apple-icon-180x180.png'|theme }}">
    	<link rel="icon" type="image/png" sizes="192x192" href="{{ 'assets/images/favicon/android-icon-192x192.png'|theme }}">
    	<link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/images/favicon/favicon-32x32.png'|theme }}">
    	<link rel="icon" type="image/png" sizes="96x96" href="{{ 'assets/images/favicon/favicon-96x96.png'|theme }}">
    	<link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/images/favicon/favicon-16x16.png'|theme }}">
    	<!-- <link rel="manifest" href="{{ 'assets/images/favicon/manifest.json'|theme }}"> -->
    
    	<meta name="msapplication-TileColor" content="#ffffff">
    	<meta name="msapplication-TileImage" content="{{ 'assets/images/favicon/ms-icon-144x144.png'|theme }}">
    	<meta name="theme-color" content="#ffffff">
	        <!-- favicon -->