description = "Some links"
==
<nav class="collapse">
    <ul class="nav nav-pills" id="mainNav">
        <li class=""><a href="/">Go back home</li>
        <li class=""><a href="/account">Sign in</li>
        <li class=""><a href="/blog">Blog</li>
                {%if user %}
                    <li "dropdown"> <a href="#" data-request="onLogout"> LogOut</a></li>
                {% endif %}
    </ul>
</nav>