==
<link href="{{ 'assets/css/original/main.css'|theme }}" rel="stylesheet">
<link href="{{ 'assets/css/original/font-awesome.min.css'|theme }}" rel="stylesheet">
<link href="{{ 'assets/css/original/animate.min.css'|theme }}" rel="stylesheet">
<link href="{{ 'assets/css/original/slick.css'|theme }}" rel="stylesheet">
<link href="{{ 'assets/css/original/magnific-popup.css'|theme }}" rel="stylesheet">
<link href="{{ 'assets/css/original/media.css'|theme }}" rel="stylesheet">