/* ###### Table of contents ###### */
/* 1.1 Fonts */
/* 1.2 Main styles */
/* 2. Preloader */
/* 3. Animation settings */
/* 4. Slick settings */
/* 5. Navigation */
/* 6. Header */
/* 7. About */
/* 8. Screen one */
/* 9. Services */
/* 10. Directions */
/* 11. Video */
/* 12. Screen two */
/* 13. App */
/* 14. Team */
/* 15. Check */
/* 16. Questions */
/* 17. Testimonials */
/* 18. Subscribe */
/* 19. Map */
/* 20. Contact */
/* 21. Footer */
/* ###### Table of contents ###### */
@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/FontAwesome/fontawesome-webfont.eot");
  src: url("../fonts/FontAwesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("../fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"); }

/* ###### Main styles ###### */
body {
  position: relative;
  background-color: #ffffff;
  overflow-x: hidden !important;
  width: 100%; }
  body::-webkit-scrollbar {
    width: 7px; }
  body::-webkit-scrollbar-thumb {
    background-color: #2308ae;
    outline: none;
    border-radius: 5px !important; }

.site-content {
  z-index: 2;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.23);
  background-color: #fff;
  overflow-x: hidden !important; }

a {
  outline: none !important; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

h1 {
  font: 500 35px/40px 'Montserrat', sans-serif;
  text-align: left;
  color: #000000; }

h2 {
  font: 500 35px/40px 'Montserrat', sans-serif;
  text-align: left;
  color: #000000; }

h3 {
  font: 500 22px/24px 'Montserrat', sans-serif;
  text-align: left;
  color: #000000; }

h4 {
  font: 500 20px/25px 'Montserrat', sans-serif;
  text-align: left;
  color: #000000; }

p {
  font: 400 15px/22px 'Montserrat', sans-serif;
  text-align: left;
  color: #4f5d79; }

/* Container */
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.full-width {
  width: 100%;
  min-width: 100%;
  max-width: 100%; }

.col-centered {
  float: none;
  margin: 0 auto; }

a {
  outline: none;
  text-decoration: none !important; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, p {
  padding: 0;
  margin: 0 !important; }

/* ###### Main styles ###### */
/* ###### Preloader ###### */
.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #ffffff;
  z-index: 9999; }

.cssload-spinner {
  position: relative;
  top: 50%;
  height: 26px;
  width: 26px;
  margin: auto;
  margin-top: -13px;
  animation: cssload-invert 1.3s infinite steps(2, end); }

.cssload-ball {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  background: #2308ae; }

.cssload-ball-1 {
  animation: cssload-ball1 0.65s infinite alternate linear; }

.cssload-ball-2 {
  animation: cssload-ball2 0.65s infinite alternate linear; }

.cssload-ball-3 {
  animation: cssload-ball3 0.65s infinite alternate linear; }

.cssload-ball-4 {
  animation: cssload-ball4 0.65s infinite alternate linear; }

@keyframes cssload-invert {
  100% {
    transform: rotate(180deg); } }

@keyframes cssload-ball1 {
  12% {
    transform: none; }
  26% {
    transform: translateX(25%) scale(1, 0.8); }
  40% {
    transform: translateX(50%) scale(0.8, 0.8); }
  60% {
    transform: translateX(50%) scale(0.8, 0.8); }
  74% {
    transform: translate(50%, 25%) scale(0.6, 0.8); }
  88% {
    transform: translate(50%, 50%) scale(0.6, 0.6); }
  100% {
    transform: translate(50%, 50%) scale(0.6, 0.6); } }

@keyframes cssload-ball2 {
  12% {
    transform: none; }
  26% {
    transform: translateX(25%) scale(1, 0.8); }
  40% {
    transform: translateX(50%) scale(0.8, 0.8); }
  60% {
    transform: translateX(50%) scale(0.8, 0.8); }
  74% {
    transform: translate(50%, -25%) scale(0.6, 0.8); }
  88% {
    transform: translate(50%, -50%) scale(0.6, 0.6); }
  100% {
    transform: translate(50%, -50%) scale(0.6, 0.6); } }

@keyframes cssload-ball3 {
  12% {
    transform: none; }
  26% {
    transform: translateX(-25%) scale(1, 0.8); }
  40% {
    transform: translateX(-50%) scale(0.8, 0.8); }
  60% {
    transform: translateX(-50%) scale(0.8, 0.8); }
  74% {
    transform: translate(-50%, 25%) scale(0.6, 0.8); }
  88% {
    transform: translate(-50%, 50%) scale(0.6, 0.6); }
  100% {
    transform: translate(-50%, 50%) scale(0.6, 0.6); } }

@keyframes cssload-ball4 {
  12% {
    transform: none; }
  26% {
    transform: translateX(-25%) scale(1, 0.8); }
  40% {
    transform: translateX(-50%) scale(0.8, 0.8); }
  60% {
    transform: translateX(-50%) scale(0.8, 0.8); }
  74% {
    transform: translate(-50%, -25%) scale(0.6, 0.8); }
  88% {
    transform: translate(-50%, -50%) scale(0.6, 0.6); }
  100% {
    transform: translate(-50%, -50%) scale(0.6, 0.6); } }

/* ###### Preloader ###### */
/* ###### Animate css ###### */
.fadeInUpBig {
  animation-duration: 0.8s; }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50%, 0); }
  to {
    opacity: 1;
    transform: none; } }

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(50%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-50%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

@keyframes slideInDown {
  from {
    transform: translate3d(0, -20%, 0); } }

.fadeInRightBox {
  animation-name: fadeInRightBox;
  animation-duration: 0.5s; }

@keyframes fadeInRightBox {
  from {
    opacity: 0;
    transform: translate3d(10%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

/* ###### Animate css ###### */
/* ###### Anchor nav ###### */
a.anchor {
  display: block;
  position: relative;
  top: 0;
  visibility: hidden; }

#services,
#video,
#team,
#subscribe,
#contact {
  top: -79px !important; }

#about,
#questions {
  top: -77px !important; }

.menu-sticky {
  position: relative;
  top: -81px; }

/* ###### Anchor nav ###### */
/* ###### Slick setings ###### */
.slick-slide,
.slick-list {
  outline: none !important; }

.slick-dots {
  position: relative !important;
  left: 50%;
  margin-left: -25px !important;
  width: auto !important; }
  .slick-dots li {
    display: inline-block;
    margin-right: 10px; }
    .slick-dots li:last-child {
      margin-right: 0; }
    .slick-dots li button {
      height: 8px;
      width: 8px;
      padding: 0;
      font-size: 0;
      line-height: 0;
      border: none;
      border-radius: 50%;
      background-color: #5f41f5;
      outline: none !important;
      transition: background-color .2s ease !important; }

.slick-active button {
  background-color: #2308ae !important;
  width: 14px !important;
  height: 14px !important; }

/* ###### Slick setings ###### */
/* ###### Navigation ###### */
.collapse {
  display: block; }

.navbar-wrap {
  position: relative;
  z-index: 90;
  width: 100%; }

.navbar {
  position: absolute;
  padding-top: 42px;
  width: 100%;
  top: -100%;
  transition: 0.2s ease;
  border-radius: 0 !important; }

.navbar.stick {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background-color: #ffffff;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.23);
  transition: all 0.3s ease; }

.logo-navbar {
  position: relative;
  display: block;
  width: auto;
  float: left; }
  .logo-navbar a img {
    display: block;
    width: auto;
    height: auto;
    max-width: 170px; }

.navbar-menu {
  position: relative;
  width: 100%; }
  .navbar-menu .logo {
    position: relative;
    z-index: 100 !important;
    transition: all 0.2s ease;
    float: left; }
    .navbar-menu .logo a img {
      display: block;
      width: auto;
      height: auto; }
    .navbar-menu .logo:hover {
      opacity: .7; }

.navbar-full {
  float: right; }

.navbar-nav {
  position: relative;
  float: left;
  margin-top: 10px; }
  .navbar-nav li {
    position: relative;
    margin-right: 30px;
    width: auto;
    overflow: hidden; }
    .navbar-nav li a {
      position: relative;
      padding: 0;
      padding-bottom: 3px;
      overflow: hidden;
      float: left;
      font: 400 16px/20px 'Montserrat', sans-serif;
      color: #4f5d79;
      text-align: left;
      background-color: transparent !important;
      transition: all 0.2s ease; }
      .navbar-nav li a:hover {
        color: #2308ae; }

.nav-button .btn-nav {
  border-radius: 25px;
  background-color: #2308ae;
  border: none;
  padding: 0 20px;
  height: 40px;
  transition: 0.3s all;
  min-width: 130px;
  font: 400 16px/40px 'Montserrat', sans-serif;
  color: #ffffff;
  text-align: center;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.23); }
  .nav-button .btn-nav:hover {
    background-color: #ffffff;
    color: #2308ae; }

li.active a {
  color: #2308ae; }

.navbar-fixed-top {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }

.navbar-mobile {
  display: none; }

.navbar-toggle {
  z-index: 200; }

.navbar-toggle .icon-bar {
  border-radius: 0 !important;
  position: relative;
  background-color: #000000; }

.navbar-toggle.active .icon-bar:nth-of-type(1) {
  top: 8px;
  transform: rotate(45deg);
  background-color: #000000; }

.navbar-toggle.active .icon-bar:nth-of-type(2) {
  background-color: transparent; }

.navbar-toggle.active .icon-bar:nth-of-type(3) {
  top: -8px;
  background-color: #000000;
  transform: rotate(-45deg); }

/* ###### Navigation ###### */
/* ###### Header ###### */
.header {
  position: relative;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  overflow: hidden;
  z-index: 1; }
  .header-slogan {
    position: relative;
    display: table;
    z-index: 3;
    width: 100%;
    height: 100vh;
    padding: 150px 0;
    top: -8vh; }
    .header-slogan div {
      vertical-align: middle;
      display: table-cell; }
    .header-slogan p:first-child {
      color: #2308ae;
      text-align: center; }
    .header-slogan h1 {
      text-align: center;
      padding-top: 10px; }
    .header-slogan p {
      text-align: center;
      padding-top: 17px; }

.main-button {
  position: relative;
  display: inline-block !important; }
  .main-button .btn {
    outline: none !important; }
  .main-button .btn-default {
    border-radius: 25px;
    background-color: #2308ae;
    border: none;
    padding: 0 30px;
    height: 50px;
    transition: 0.3s all;
    min-width: 180px;
    font: 400 16px/51px 'Montserrat', sans-serif;
    color: #ffffff;
    text-align: center;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.23); }
    .main-button .btn-default:hover {
      background-color: #ffffff;
      color: #2308ae;
      transform: translateY(-10px);
      box-shadow: 0 12px 10px 0 rgba(0, 0, 0, 0.25); }

.header-image {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%; }
  .header-image-image {
    position: absolute;
    width: 100%;
    height: 100%; }

/* ###### Header ###### */
/* ###### About ###### */
.about {
  position: relative;
  width: 100%;
  height: 100%; }
  .about-wrap {
    margin-top: 53px; }
  .about-item {
    margin-top: 47px; }
    .about-item-icon {
      width: 70px;
      float: left;
      display: block; }
      .about-item-icon-icon {
        width: 40px;
        height: 40px; }
        .about-item-icon-icon g {
          stroke: #2308ae; }
    .about-item-text {
      display: block;
      overflow: hidden; }
      .about-item-text h3 {
        margin-top: -3px !important; }
      .about-item-text p {
        padding-top: 12px; }

/* ###### About ###### */
/* ###### Screen-one ###### */
.screen-one {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 104px;
  margin-bottom: 100px; }
  .screen-one-title {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 21px; }
  .screen-one-image {
    position: absolute;
    width: 49%;
    height: 100%;
    z-index: 1;
    top: 0;
    right: 0;
    box-shadow: 0px 5px 29px 0px rgba(7, 7, 7, 0.3); }
    .screen-one-image div {
      position: relative;
      width: 100%;
      height: 100%; }
  .screen-one-item {
    position: relative;
    margin-top: 25px; }
    .screen-one-item span {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      font: 400 15px/68px 'Montserrat', sans-serif;
      text-align: left;
      padding-left: 10px;
      color: #4f5d79;
      background-color: #e6eff2;
      width: 80px;
      height: 80px;
      border-radius: 50%; }
    .screen-one-item-container {
      position: relative;
      z-index: 2;
      padding-left: 50px; }
      .screen-one-item-container h3 {
        padding-top: 38px; }
      .screen-one-item-container p {
        padding-top: 12px; }

.screen-one-button {
  margin-top: 48px;
  margin-bottom: 40px; }

/* ###### Screen-one ###### */
/* ###### Services ###### */
.services {
  position: relative;
  width: 100%;
  height: 100%; }
  .services-wrap {
    padding-top: 80px;
    padding-bottom: 80px; }
  .services-item {
    margin-top: 40px; }
    .services-item:first-child {
      padding-top: 40px; }
    .services-item-title {
      float: right; }
      .services-item-title h3 {
        float: left;
        text-align: right;
        margin-top: -10px !important;
        padding-top: 18px; }
      .services-item-title-icon {
        width: 40px;
        margin-left: 15px;
        display: inline-block; }
        .services-item-title-icon g {
          stroke: #2308ae; }
    .services-item p {
      padding-top: 12px;
      display: inline-block;
      text-align: right; }
  .services-right .services-item-title {
    float: left; }
    .services-right .services-item-title h3 {
      text-align: left;
      float: right; }
  .services-right .services-item-title-icon {
    margin-left: 0;
    margin-right: 15px; }
  .services-right p {
    text-align: left; }
  .services-image {
    width: 100%;
    margin: 0 auto; }
    .services-image img {
      display: block;
      width: 100%;
      height: auto; }

/* ###### Services ###### */
/* ###### Directions ###### */
.directions {
  position: relative;
  width: 100%;
  height: 100%; }
  .directions-wrap {
    margin-top: 94px;
    margin-bottom: 80px; }
  .directions-title {
    width: 100%;
    margin-bottom: 35px; }
    .directions-title h2 {
      text-align: center; }
    .directions-title p {
      padding-top: 19px;
      text-align: center; }

.directions-container {
  position: relative;
  overflow: hidden; }
  .directions-container:before {
    position: absolute;
    content: '';
    top: 40px;
    right: 50%;
    margin-right: -1px;
    width: 1px;
    height: 100vh;
    max-height: 400px;
    background-color: #dadada; }

.directions-item {
  padding-right: 25px; }
  .directions-item-container {
    position: relative;
    width: 100%;
    height: 80px;
    border: 1px solid #dadada;
    padding-top: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 25px !important;
    cursor: pointer;
    transition: box-shadow .2s ease; }
    .directions-item-container span {
      float: left;
      width: 40px;
      height: 40px;
      margin: 0 30px;
      border-radius: 50%;
      background-color: #f8fbfe;
      font: 400 15px/40px 'Montserrat', sans-serif;
      text-align: center;
      color: #4f5d79; }
    .directions-item-container h3 {
      padding-top: 7px; }

.directions-box {
  position: absolute;
  margin-right: 15px;
  margin-left: 25px;
  border: 4px solid #2308ae;
  border-radius: 5px;
  background-color: #ffffff;
  z-index: 2;
  display: none; }
  .directions-box:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 6px;
    left: -12px;
    border-top: 10px solid transparent;
    border-right: 10px solid #2308ae;
    border-bottom: 10px solid transparent;
    z-index: 1; }
  .directions-box p {
    padding: 35px 40px 43px 40px; }

.directions-box.active {
  display: block; }

.box-5 {
  position: relative; }

.directions-item-container.active {
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.23); }

/* ###### Directions ###### */
/* ###### Video ###### */
.video {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1; }
  .video-wrap {
    position: relative;
    margin-top: 113px;
    margin-bottom: 115px; }
    .video-wrap h2 {
      color: #ffffff; }
    .video-wrap p {
      padding-top: 29px;
      color: #ffffff; }
  .video-icon {
    position: relative;
    margin-top: 33px;
    display: inline-block;
    background-color: #5f41f5;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: all 0.2s ease; }
    .video-icon:hover {
      background-color: #2308ae;
      transform: scale(0.93); }
    .video-icon img {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -14px;
      margin-left: -11px;
      display: block;
      position: relative; }

/* ###### Video ###### */
/* ###### Screen-two ###### */
.screen-two {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 100px;
  margin-bottom: 100px; }
  .screen-two-image {
    position: absolute;
    width: 49%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    box-shadow: 0px 5px 29px 0px rgba(7, 7, 7, 0.3); }
    .screen-two-image div {
      position: relative;
      width: 100%;
      height: 100%; }
  .screen-two h2 {
    padding-top: 35px;
    padding-bottom: 11px; }
  .screen-two-item {
    margin-top: 33px; }
    .screen-two-item:first-child {
      margin-top: 80px; }
    .screen-two-item:last-child {
      margin-bottom: 113px; }
    .screen-two-item-icon {
      width: 40px; }
      .screen-two-item-icon g {
        stroke: #2308ae; }
    .screen-two-item h3 {
      padding-top: 14px; }
    .screen-two-item p {
      padding-top: 10px; }

/* ###### Screen-two ###### */
/* ###### App ###### */
.app {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  margin-top: 20px; }
  .app-image {
    position: relative;
    top: -80px; }
    .app-image img {
      position: absolute; }
    .app-image-first {
      left: 0;
      z-index: 1; }
    .app-image-second {
      right: 0;
      top: 83px;
      z-index: 2; }
  .app h2 {
    padding-top: 94px; }
  .app p {
    padding-top: 25px; }

.app-button {
  margin-top: 40px;
  margin-bottom: 100px; }

/* ###### App ###### */
/* ###### Team ###### */
.team {
  position: relative;
  width: 100%;
  height: 100%; }
  .team-wrap {
    margin-top: 107px;
    margin-bottom: 100px; }
  .team-title {
    width: 100%;
    margin-bottom: 38px; }
    .team-title h2 {
      text-align: center; }
    .team-title p {
      padding-top: 19px;
      text-align: center; }

.team-container {
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.23); }
  .team-container-item {
    margin-bottom: 36px; }
    .team-container-item img {
      display: block;
      width: 100%;
      height: auto; }
    .team-container-item-text {
      background-color: #ffffff;
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 0 30px 29px 30px; }
      .team-container-item-text h3 {
        padding-top: 26px;
        padding-bottom: 16px; }
      .team-container-item-text p {
        float: left;
        color: #2308ae; }

.team-icons {
  float: right;
  padding-top: 3px; }
  .team-icons li {
    display: inline-block;
    margin-right: 10px; }
    .team-icons li:last-child {
      margin-right: 0; }
    .team-icons li a {
      position: relative;
      color: #2308ae;
      font-size: 16px;
      line-height: 30px;
      transition: color 0.2s ease;
      z-index: 2;
      text-align: center;
      height: 30px;
      width: 30px;
      display: inline-block; }
      .team-icons li a:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #2308ae;
        z-index: -1;
        opacity: 0; }
      .team-icons li a:hover {
        color: #ffffff; }
        .team-icons li a:hover:after {
          opacity: 1 !important; }

/* ###### Team ###### */
/* ###### Check ###### */
.check-wrap {
  position: relative;
  padding-top: 94px;
  overflow: hidden; }
  .check-wrap:after {
    position: absolute;
    content: '';
    bottom: -60px;
    left: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0px -20px 60px 0px rgba(0, 0, 0, 0.07);
    z-index: 1; }

.check-title h2 {
  text-align: center; }

.check-title p {
  padding-top: 19px;
  text-align: center;
  padding-bottom: 35px; }

.check-title img {
  position: relative;
  height: auto;
  z-index: 2; }

/* ###### Check ###### */
/* ###### Questions ###### */
.questions {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 80px;
  margin-bottom: 100px; }
  .questions-container {
    position: relative; }
    .questions-container-image {
      position: relative; }
      .questions-container-image img {
        position: absolute; }
      .questions-container-image-first {
        left: 0;
        z-index: 2; }
      .questions-container-image-second {
        top: 40px;
        right: 0;
        z-index: 1; }
    .questions-container-title {
      margin-top: 58px;
      margin-bottom: 18px; }
      .questions-container-title p {
        padding-top: 19px; }
    .questions-container-accordion {
      position: relative; }
      .questions-container-accordion-set {
        position: relative;
        width: 100%;
        background-color: #2308ae;
        border-radius: 5px 5px 0 0;
        margin-top: 10px;
        cursor: pointer; }
        .questions-container-accordion-set a {
          display: block;
          padding: 7px 15px 8px 15px;
          text-decoration: none;
          color: #ffffff;
          border: none; }
        .questions-container-accordion-set h3 {
          color: #ffffff;
          text-align: left;
          display: inline-block; }
        .questions-container-accordion-set i {
          padding-top: 5px;
          float: right; }
        .questions-container-accordion-set a.active {
          box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.23); }
      .questions-container-accordion .content {
        display: none;
        background-color: #ffffff;
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.23); }
        .questions-container-accordion .content p {
          padding: 18px 30px 21px 30px; }

/* ###### Questions ###### */
/* ###### Testimonials ###### */
.testimonials {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  margin-top: 140px; }
  .testimonials-wrap {
    margin-top: 98px;
    margin-bottom: 100px; }
  .testimonials-title {
    width: 100%;
    margin-bottom: 18px; }
    .testimonials-title h2 {
      text-align: center; }
    .testimonials-title p {
      padding-top: 19px;
      text-align: center; }

.testimonials-item {
  display: inline-block;
  background-color: #ffffff;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.23);
  padding: 0 35px;
  margin-bottom: 38px;
  margin-top: 20px; }
  .testimonials-item span {
    margin-top: 60px;
    display: block;
    font: 500 72px/20px 'Montserrat', sans-serif;
    text-align: left;
    color: #000000; }
  .testimonials-item h3 {
    padding-top: 22px; }
  .testimonials-item p:last-child {
    padding-top: 7px;
    padding-bottom: 34px; }

.testimonials-icons {
  float: right;
  padding-top: 3px; }
  .testimonials-icons li {
    display: inline-block;
    margin-right: 10px; }
    .testimonials-icons li:last-child {
      margin-right: 0; }
    .testimonials-icons li a {
      position: relative;
      color: #2308ae;
      font-size: 16px;
      line-height: 30px;
      transition: color 0.2s ease;
      z-index: 2;
      text-align: center;
      height: 30px;
      width: 30px;
      display: inline-block; }
      .testimonials-icons li a:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #2308ae;
        z-index: -1;
        opacity: 0; }
      .testimonials-icons li a:hover {
        color: #ffffff; }
        .testimonials-icons li a:hover:after {
          opacity: 1 !important; }

/* ###### Testimonials ###### */
/* ###### Subscribe ###### */
.subscribe {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  margin-top: 95px; }
  .subscribe-wrap {
    margin-bottom: 116px; }
  .subscribe-title {
    width: 100%;
    margin-bottom: 34px; }
    .subscribe-title h2 {
      text-align: center; }
    .subscribe-title p {
      padding-top: 19px;
      text-align: center; }

.subscribe-item {
  background-color: #ffffff;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.23); }
  .subscribe-item span {
    margin-top: 60px;
    display: block;
    font: 500 72px/20px 'Montserrat', sans-serif;
    text-align: left;
    color: #000000; }
  .subscribe-item h3 {
    padding-top: 22px; }
  .subscribe-item p:last-child {
    padding-top: 14px;
    padding-bottom: 34px; }

.subscribe-form {
  display: inline-block;
  position: relative;
  width: 100%; }
  .subscribe-form-input {
    width: 100%;
    display: inline-block; }
    .subscribe-form-input input {
      text-align: center;
      padding: 0 15px;
      outline: none;
      height: 80px;
      border: none;
      border-radius: 5px;
      width: 100%;
      font: 400 22px/22px 'Montserrat', sans-serif;
      color: #4f5d79;
      box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.23); }
      .subscribe-form-input input:placeholder {
        color: #9f9f9f;
        text-align: center; }
  .subscribe-form-button {
    margin-top: 40px; }

/* ###### Subscribe ###### */
/* ###### Map ###### */
.map {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden; }

#map-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1; }

.map-wrap {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px; }
  .map-wrap-bg {
    position: absolute;
    background-color: #ffffff;
    z-index: 2;
    content: '';
    height: 100%;
    width: 35.1%;
    left: 0; }
  .map-wrap-item {
    position: relative;
    background-color: #ffffff;
    padding-top: 30px;
    z-index: 3; }
    .map-wrap-item:after {
      position: absolute;
      content: '';
      top: 0;
      left: -99%;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: #ffffff; }
    .map-wrap-item:first-child {
      padding-top: 74px; }
    .map-wrap-item:last-child {
      padding-bottom: 80px; }
    .map-wrap-item-icon {
      float: left;
      width: 40px;
      height: 40px;
      padding-right: 20px; }
      .map-wrap-item-icon g {
        stroke: #2308ae; }
    .map-wrap-item h3 {
      padding-top: 7px; }
    .map-wrap-item p {
      display: block;
      width: 100%;
      padding-top: 6px;
      overflow: hidden; }

/* ###### Map ###### */
/* ###### Contact ###### */
.contact {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  margin-top: 95px; }
  .contact-wrap {
    margin-bottom: 96px; }
  .contact-title {
    width: 100%;
    margin-bottom: 34px; }
    .contact-title h2 {
      text-align: center; }
    .contact-title p {
      padding-top: 19px;
      text-align: center; }

.contact-item {
  background-color: #ffffff;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.23); }
  .contact-item span {
    margin-top: 60px;
    display: block;
    font: 500 72px/20px 'Montserrat', sans-serif;
    text-align: left;
    color: #000000; }
  .contact-item h3 {
    padding-top: 22px; }
  .contact-item p:last-child {
    padding-top: 14px;
    padding-bottom: 34px; }

.contact-form {
  display: inline-block;
  position: relative;
  width: 100%; }
  .contact-form-input {
    width: 100%;
    display: inline-block; }
    .contact-form-input input {
      padding: 0 30px;
      outline: none;
      height: 80px;
      border: none;
      border-radius: 5px;
      width: 100%;
      margin-bottom: 40px;
      font: 400 22px/22px 'Montserrat', sans-serif;
      color: #4f5d79;
      box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.23); }
      .contact-form-input input:placeholder {
        color: #9f9f9f;
        text-align: left;
        vertical-align: top; }
    .contact-form-input textarea {
      padding: 30px 30px 15px 30px;
      outline: none;
      border: none;
      border-radius: 5px;
      width: 100%;
      font: 400 22px/29px 'Montserrat', sans-serif;
      color: #4f5d79;
      resize: none;
      box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.23); }
      .contact-form-input textarea:placeholder {
        color: #9f9f9f;
        text-align: left;
        vertical-align: top; }
  .contact-form-button {
    margin-top: 40px; }

/* ###### Contact ###### */
/* ###### Footer ###### */
.footer {
  position: fixed;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2308ae; }
  .footer-wrap {
    padding-top: 95px; }
  .footer-title {
    width: 100%;
    margin-bottom: 54px; }
    .footer-title h2 {
      color: #ffffff;
      text-align: center; }
    .footer-title p {
      color: #ffffff;
      padding-top: 26px;
      text-align: center;
      padding-bottom: 23px; }

.footer-icons {
  margin-top: 30px;
  display: block;
  text-align: center; }
  .footer-icons li {
    margin-right: 10px;
    display: inline-block; }
    .footer-icons li:last-child {
      margin-right: 0; }
    .footer-icons li a {
      position: relative;
      color: #ffffff;
      font-size: 16px;
      line-height: 30px;
      transition: color 0.2s ease;
      z-index: 2;
      text-align: center;
      height: 30px;
      width: 30px;
      display: inline-block; }
      .footer-icons li a:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #2308ae;
        z-index: -1;
        opacity: 0; }
      .footer-icons li a:hover {
        color: #5f41f5; }
        .footer-icons li a:hover:after {
          opacity: 1 !important; }

/* ###### Footer ###### */
