description = "A basic layout"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	
		{% partial 'site/favicon' %}
        <!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400&display=swap" rel="stylesheet" type="text/css">
        
        <title>RiskTools | Кредитный скоринг для МФО</title>
        <!-- css lincs -->    
        {% partial 'site/basic_css' %}
        {% partial 'site/original_css' %}
        
</head>
    <body class="loading-overlay-showing body" data-plugin-page-transition data-loading-overlay data-plugin-options="{'hideDelay': 500}">
       
        <section>
            {% partial 'site/loading_overlay' %}
        </section>
        
        <div>
        			
            <header id="layout-header">
                {% partial 'site/header' %}
            </header>
            
           <div role="main" class="main">     
                <section id="layout-content">
                    {% partial 'site/slider' %}
                </section>
            
            
                <section>
                    <div class="container">
                        {% page %}
                    </div>
                </section>
            
                <!-- <footer class="container" id="layout-footer">
                    <hr />
                    <p>{% partial 'site/main_links' %}<p>
                </footer> -->
            <div>
        </div>   

            {% partial 'site/basic_vendor' %}
            {% partial 'site/basic_js' %}
            {% framework extras %}
            {% scripts %}
    </body>
</html>