description = "Page for blog`s content"
==
<!DOCTYPE html>
<html>
    <head>
		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	

		<title>Large Image Left Sidebar | Porto - Responsive HTML5 Template</title>	

		<meta name="keywords" content="HTML5 Template" />
		<meta name="description" content="Porto - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
        <!-- css lincs -->    
        {% partial 'site/blog_css' %}
        
</head>
    <body class="loading-overlay-showing" data-plugin-page-transition data-loading-overlay data-plugin-options="{'hideDelay': 500}">
       
        <section>
            {% partial 'site/loading_overlay' %}
        </section>
        
        <div class="body">
        			
            <header id="layout-header">
                {% partial 'site/blog_header' %}
            </header>
            
           <div role="main" class="main">     
                <section id="layout-content">
                    {% partial 'site/blog_prev' %}
                </section>
            
            
                <section>
                    <div class="container">
                        {% page %}
                    </div>
                </section>
            
                <!-- <footer class="container" id="layout-footer">
                    <hr />
                    <p>{% partial 'site/main_links' %}<p>
                </footer> -->
            <div>
        </div>   

            {% partial 'site/basic_vendor' %}
            {% partial 'site/blog_js' %}
            {% framework extras %}
            {% scripts %}
    </body>
</html>