title = "Risk Tools"
url = "/"
layout = "basic"
meta_title = "Самый быстрый сервис по оценке риска"
meta_description = "Кредитный скоринг для МФО"
is_hidden = 0
==
<!-- About -->
	<div class="about">
		<div class="about-wrap">
			<div class="container" stile="bacground-color=#fff;">
				<div class="row">
					<div class="col-md-4">
						<div class="about-item">
							<div class="about-item-icon">
								<svg xmlns="http://www.w3.org/2000/svg" class="about-item-icon-icon" viewBox="0 0 24 24">
									<g stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" fill="none">
										<path d="M20.254 13.5h3.246v-3h-3.247c-.209-.867-.551-2.181-1.003-2.922l2.296-2.295-2.829-2.829-2.297 2.296c-.74-.451-2.053-.793-2.92-1.002v-3.248h-3v3.248c-.867.209-2.181.551-2.921 1.002l-2.297-2.296-2.829 2.829 2.297 2.296c-.452.74-.794 2.054-1.004 2.921h-3.246v3h3.246c.21.867.552 2.182 1.004 2.921l-2.297 2.297 2.829 2.828 2.296-2.298c.741.454 2.055.796 2.922 1.006v3.246h3v-3.246c.867-.21 2.181-.552 2.92-1.004l2.298 2.296 2.828-2.828-2.296-2.297c.452-.739.794-2.054 1.004-2.921z"></path>
										<circle cx="12" cy="12" r="4.5"></circle>
									</g>
								</svg>
							</div>
							<!-- /.about-item-icon -->
							<div class="about-item-text">
								<h3>Принятие решения за 0.5 секунды</h3>
								<p>Процесс принятия решения станет незаметным для вашиих клиентов</p>
							</div>
							<!-- /.about-item-text -->
						</div>
					</div>
					<!-- /.col-md-4 -->
					<div class="col-md-4">
						<div class="about-item">
							<div class="about-item-icon">
								<svg xmlns="http://www.w3.org/2000/svg" class="about-item-icon-icon" viewBox="0 0 24 24">
									<g stroke="#000" stroke-linejoin="round" stroke-miterlimit="10" fill="none">
										<path d="M21.5 4.5v15M4.5 2.5h15M2.5 19.5v-15M19.5 21.5h-15"></path>
										<path stroke-linecap="round" d="M.5.5h4v4h-4zM19.5.5h4v4h-4zM.5 19.5h4v4h-4zM19.5 19.5h4v4h-4z"></path>
									</g>
								</svg>
							</div>
							<!-- /.about-item-icon -->
							<div class="about-item-text">
								<h3>Автоматизация на 100%</h3>
								<p>Вы можете полностью отказаться от использования верифиикаторов</p>
							</div>
							<!-- /.about-item-text -->
						</div>
					</div>
					<!-- /.col-md-4 -->
					<div class="col-md-4">
						<div class="about-item">
							<div class="about-item-icon">
								<svg xmlns="http://www.w3.org/2000/svg" class="about-item-icon-icon" viewBox="0 0 24 24">
									<g stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" fill="none">
										<path d="M19.5 8c0 4.144-7.5 15.5-7.5 15.5s-7.5-11.356-7.5-15.5c0-4.142 3.357-7.5 7.5-7.5 4.142 0 7.5 3.358 7.5 7.5z"></path>
										<circle cx="12" cy="8" r="3"></circle>
									</g>
								</svg>
							</div>
							<!-- /.about-item-icon -->
							<div class="about-item-text">
								<h3>Предложение оптимальной суммы кредита</h3>
								<p>Для каждого заемщика подбирается сумма, которую он с большей вероятностью сможет вернуть</p>
							</div>
							<!-- /.about-item-text -->
						</div>
					</div>
					<!-- /.col-md-4 -->
				</div>
				<!-- /.row -->
				<div class="row">
					<div class="col-md-4">
						<div class="about-item">
							<div class="about-item-icon">
								<svg xmlns="http://www.w3.org/2000/svg" class="about-item-icon-icon" viewBox="0 0 24 24">
									<g stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" fill="none">
										<path d="M12.5 7.499l10-5v15.501l-10 5-10-5v-15.501zM20.498.975l-8 4.048-8-4.048M12.5 7.499v15.501"></path>
									</g>
								</svg>
							</div>
							<!-- /.about-item-icon -->
							<div class="about-item-text">
								<h3>Поведенческий скоринг для повторных клиентов</h3>
								<p>Оптимальная схема роста сумм для повторных клиентов позволит исключить подбор и мотивировать клиентов пользоваться вашим сервисом</p>
							</div>
							<!-- /.about-item-text -->
						</div>
					</div>
					<!-- /.col-md-4 -->
					<div class="col-md-4">
						<div class="about-item">
							<div class="about-item-icon">
								<svg xmlns="http://www.w3.org/2000/svg" class="about-item-icon-icon" viewBox="0 0 24 24">
									<g stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" fill="none">
										<path d="M17.5 12.5h1c1.656 0 3 1.344 3 3s-1.344 3-3 3h-1"></path>
										<path d="M17.5 21.5c0 1.104-.896 2-2 2h-9c-1.104 0-2-.896-2-2v-11h13v11zM17.381.564c1.033 1.574-.496 2.436-.853 3.282-.377.895-.011 1.752.885 2.129 2.9 1.222 3.764-4.493-.032-5.411zM14.5 10.5l2.609-4.688M18.141 6.156l-1.641 4.344"></path>
										<path d="M8.5 10.5h-3l-1.5-3-.5-3 2.5 1.5zM4 7.5l2-1.5"></path>
										<path d="M9.5.5h4v10h-4zM13.5 2.5h-2M13.5 4.5h-1M13.5 6.5h-2M13.5 8.5h-1"></path>
									</g>
								</svg>
							</div>
							<!-- /.about-item-icon -->
							<div class="about-item-text">
								<h3>Доступ через API</h3>
								<p>Простая интеграция позволяет подключиться к нам за один день</p>
							</div>
							<!-- /.about-item-text -->
						</div>
					</div>
					<!-- /.col-md-4 -->
					<div class="col-md-4">
						<div class="about-item">
							<div class="about-item-icon">
								<svg xmlns="http://www.w3.org/2000/svg" class="about-item-icon-icon" viewBox="0 0 24 24">
									<g stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" fill="none">
										<path d="M18.5 18.5h-2v-11h-11v-2h-3v2h-2v3h2v11h11v2h3v-2h2v-3zm-13 0v-8h8v8h-8zM5.5 18.5l8-8M16.5 7.5l7-7M2 7.5h5M2.5 10.5h3M13.5 18.5h3M13.5 21.5h3"></path>
									</g>
								</svg>
							</div>
							<!-- /.about-item-icon -->
							<div class="about-item-text">
								<h3>Репортинг и аналитика</h3>
								<p>Отслеживайте в режиме реального времени эффективность ваших рисковых моделей</p>
							</div>
							<!-- /.about-item-text -->
						</div>
					</div>
					<!-- /.col-md-4 -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /.about-wrap -->
	</div>
	<!-- About -->
	<!-- Screen-one -->
    <a class="anchor" id="scoring"></a>
	<div class="screen-one" style="/*background-image: url({{'acces/images/services-bg.jpg'|theme}});*/ background-position:center; background-size: cover; background-repeat:no-repeat;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="screen-one-title">
						<h2>Структура отчета</h2>
					</div>
				</div>
			</div>
		</div>
		<!-- /.container -->
		<!--<div class="container">
			<div class="screen-one-image">
				<div style="background-image: url(img/ds/ds-2.png); background-position:left top; background-size: cover; background-repeat:no-repeat;"></div>
			</div>
		</div>-->
		<!-- /.container -->
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="screen-one-item os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0s" style="animation-delay: 0s; opacity: 0;">
						<span>01.</span>
						<div class="screen-one-item-container">
							<h3>Кредитный скор-балл</h3>
							<p>Кредитный скорр-балл обратно пропорционален вероятности ухода клиента в просрочку</p>
						</div>
					</div>
					<!-- /.screen-one-item -->
					<div class="screen-one-item os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0.1s" style="animation-delay: 0.1s; opacity: 0;">
						<span>02.</span>
						<div class="screen-one-item-container">
							<h3>Группы риска</h3>
							<p>Возвращаем группу риска A+, A, B, C, D, D-. Для каждой группы даем вероятностные прогнозы и рекомендации по выдаче кредита</p>
						</div>
					</div>
					<!-- /.screen-one-item -->
					<div class="screen-one-item os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0.2s" style="animation-delay: 0.2s; opacity: 0;">
						<span>03.</span>
						<div class="screen-one-item-container">
							<h3>Антифрод</h3>
							<p>Даем вероятность того, что клиент пытается взять кредит на другого человека.</p>
						</div>
					</div>
				</div>
                <div class="col-md-6">
                    <!-- /.screen-one-item -->
					<div class="screen-one-item os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0.2s" style="animation-delay: 0.2s; opacity: 0;">
						<span>04.</span>
						<div class="screen-one-item-container">
							<h3>Сумма первого кредита</h3>
							<p>Возвращаем рекомендованную сумму кредита, которую клиент с большей вероятностью сможет вернуть.</p>
						</div>
					</div>
					<!-- /.screen-one-item -->
                    <!-- /.screen-one-item -->
					<div class="screen-one-item os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0.2s" style="animation-delay: 0.2s; opacity: 0;">
						<span>05.</span>
						<div class="screen-one-item-container">
							<h3>Рост сумм повторных кредитов</h3>
							<p>Алгоритм роста сумм позволяет исключить "раскачку" и обеспечить необходимую мотивацию для постоянных клиентов</p>
						</div>
					</div>
					<!-- /.screen-one-item -->

				</div>
				<!-- /.col-md-6 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</div>
	<!-- Screen-one -->
	<!-- Subscribe -->
	<a class="anchor" id="contact"></a>
	<section class="subscribe">
		<div class="subscribe-wrap os-animation animated fadeIn" data-os-animation="fadeIn" style="opacity: 0;">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="subscribe-title">
							<h2>Контакты</h2>
                                <p>Мы будем рады взять заботу о риске на себя, <br class="disable">создав для вас преимущества на рынке и уверенность в кредитном портфеле.</p>
                                <p>Мы открыты для общения :)</p>
                                <p>Пишите нам на <a href="mailto:info@risktools.pro">info@risktools.pro</a></p>
						</div>
						<!-- /.subscribe-title -->
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /.directions-wrap -->
	</section>
	<!-- Subscribe -->